@import './../../styles/colors';
@import './../../styles/mixins';


.new-letter-div{
    width: 100%;
    min-height: 925px;
    background-color: $tertiaryColor;
    border: 1px solid $quinaryColor;
}
.new-letter-container{
    @include container;
    @include displayFlex;
}
    
@media only screen and (max-width: 1024px) {
    .new-letter-container{
        flex-direction: column;
        padding-bottom: 48px;
    }


}