@import './../../styles/colors';
@import './../../styles/mixins';
.newLetterBox-box{
    width: 100%;
    max-width: 544px;
    background-color: $primaryColor;
    margin: 64px 0px;
    border: 1px solid $quaternaryColor;
    border-radius: 16px;
    padding: 64px;
    min-height: 797px;

}

.copyMobile{
    display: none;
}

.newLetterBox-title{
    text-transform: uppercase;
    letter-spacing: 0px;
    color: $quinaryColor;
    font: normal 48px/72px 'Caveat Brush';
}

.newLetterBox-paragrath{
    padding: 32px 0px;
    color: $quinaryColor;
    letter-spacing: 0px;
    font: normal normal normal 20px/32px Noto Sans;
}

.inputEmail{
    background-color: $whiteColor;
    border: 1px solid $quaternaryColor;
    border-radius: 8px;
    overflow: hidden;
    height: 64px;
    display: flex;
    padding-left:20px;
    margin-bottom: 15px;
}
.inputEmail img{
    width: 20px;
    margin: 0;
}
.inputEmail input{
    width: 360px;
    margin-left: 20px;
    border: none;
}
input:focus
 {
    outline: none;
}

.newLetterBox-btn{
    background-color: $secundaryColor;
    font: normal normal bold 20px/32px Noto Sans;
    text-align: center;
    width: 100%;
    height: 64px;
    border: 1px solid $quaternaryColor;
    color: $whiteColor;
    border-radius: 8px;
    transition: 0.4s;
}
.newLetterBox-btn:hover , .copy-referral:hover{
    @include btnHover;
}

.limitsMenssage p{
    font: normal normal normal 16px/32px Noto Sans;
    color: $senaryColor;
    margin-top: 185px;
}
.newLetterBox-inputMenssagers{
    font: normal normal normal 12px/24px Noto Sans;
    color: $errorColor;
    margin-bottom: 7px;
    height: 17px;
}
.message-success{
    @include displayFlex;
    justify-content: start;
    margin-bottom: 16px;
    p{
        font: normal normal bold 16px/24px Noto Sans;
        margin-left: 16px;
    }
}

.copy-referral{
    width: 416px;
    height: 64px;
    @include displayFlex;
    background-color: $whiteColor;
    border: 1px solid $quinaryColor ;
    border-radius: 8px;
    overflow: hidden;
    transition: 0.4s;
    button{
        background-color: $secundaryColor;
        border: none;
        width: 96px;
        height: 64px;
        font: normal normal bold 20px/24px Noto Sans;
        color: $whiteColor;

    }
    input{
        height: 64px;
        width: 352px;
        font: normal normal normal 20px/20px Noto Sans;
        color: $senaryColor;
        padding: 0 20px;
    }

}

@media only screen and (max-width: 1024px) {

    .newLetterBox-title{
        font: normal normal normal 32px/48px Caveat Brush;

    }
    .newLetterBox-paragrath{
        font: normal normal normal 16px/24px Noto Sans;

    }
    .inputEmail {
        input{
            font: normal normal normal 16px/20px Noto Sans;
            margin-left: 16px;
        }
        img{
            width:16px
        }
    }
    .newLetterBox-box{
        padding: 16px;
        min-height: 100%;

    }
    .limitsMenssage p{
        margin-top: 71px;
        font: normal normal normal 16px/24px Noto Sans;
    }
    .newLetterBox-btn{
        font: normal normal bold 16px/15px Noto Sans;
    }
    .copy-referral{
        width: 100%;
        height: 56px;
        button{
            display: none;
        }
    }
    .message-success{
        align-items: center;
        display: flex;
        img{
            width: 24px;
        }
    }
    .copyMobile{
        @include displayFlex;
        justify-content: center;
        background-color: $secundaryColor;
        border: 1px solid $quinaryColor;
        width: 100%;
        height: 56px;
        font: normal normal bold 16px/15px Noto Sans;
        color: $whiteColor;
        border-radius: 8px;
        margin-top: 16px;

    }

}
