@mixin container(){
    max-width: 1120px;
    margin: 0 auto;
    @media (max-width: 1024px){
        padding: 16px;

    }
}
@mixin displayFlex {
    align-items: center;
    justify-content: space-between;
    display: flex;
}

@mixin widthHeight( $width , $height){
    width: $width;
    height: $height;
}

@mixin menuActive{
    color: $secundaryColor!important;


}

@mixin btnHover {
    box-shadow: 0 0.3rem 0.6rem rgb(31 52 62 / 16%);
    transform: translate(0.2rem,-0.2rem);
    
}
