@import './../../styles/colors';
@import './../../styles/mixins';






.steps-item{
    @include displayFlex;
}
.step-text{
    width: 256px;
    h4{
        color: $secundaryColor;
        font: normal normal bold 20px/32px Noto Sans;
        text-transform: uppercase;
    }
    h2{
        font: normal normal normal 32px/48px Caveat Brush;
        text-transform: uppercase;
        margin: 16px 0px;
    }
    p{
        font: normal normal normal 20px/32px Noto Sans;

    }
}
.step-img{
    @include widthHeight(128px,auto);
    margin-right:56px;
}
.collect-coins-img {
    margin: 48px 0px;
    img {
        @include widthHeight(144px,auto);
        margin-right:0px;

    }
}

@media only screen and (max-width: 1024px) {
    .steps-item{
        flex-direction: column;
        width: 100%;
    }
    .step-text{
        width: 100%;
        text-align: center;
        h2{
            margin: 0;
            font: normal normal normal 32px/40px Caveat Brush;
        }
        h4{
            font: normal normal bold 16px/24px Gadugi;
            margin: 16px;
        }
        p{
            font: normal normal normal 16px/24px Noto Sans;
        }
    }
    .step-img{
        margin: 0;
    }
    .collect-coins-img{
        flex-direction: column-reverse;
    }
}